@tailwind base;
@tailwind components;
@tailwind utilities;

.EasyMDEContainer .CodeMirror {
  background-color: #141414;
  color: rgb(221, 209, 209);
}
.editor-toolbar button.active,
.editor-toolbar button:hover {
  background-color: #141414 !important;
}
